<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
	layout:decorate="~{layout/base_layout}">

<div layout:fragment="main" class="mt-5 p-4">

	<div class="w-50 p-2" style="margin: 0 auto;">
		<div id="chat-create">
			<h4>오픈 채팅방 생성</h4>
			<form id="create-form">
				<div class="d-flex">
				  <div class="p-2 flex-grow-1">
				  	<input type="text" class="form-control" id="name" name="name" placeholder="채팅방 이름을 입력해주세요." />
				  </div>
				  <div class="p-2">
				  	<button id="createBtn" class="btn btn-outline-success">Create</button>
				  </div>
				</div>	
			</form>
		</div>

		<div id="chat-list" class="mt-3">
			<table class="table table-hover text-center align-middle">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">이름</th>
						<th scope="col">생성자</th>
						<th scope="col">최근수정일자</th>
					</tr>
				</thead>
				<tbody id="chatroom-list">
					<th:block th:each="room : ${rooms}">
						<tr>
							<th scope="row" th:text="${room.id}"></th>
							<td><a th:href="@{'/chat/room/' + ${room.id}}"
								th:text="${room.name}"></a></td>
							<td th:text="${room.creator.nickname}"></td>
							<td th:text="${#temporals.format(room.modifiedTime, 'yyyy-MM-dd HH:mm')}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		
		<div id="search-bar" class="mt-3">
			<div class="row">
				<div class="col-md-9">
					<input type="text" id="keyword" class="form-control w-100" placeholder="검색할 채팅방 이름을 입력해주세요." />
				</div>
				<div class="col-md-2">
					<button type="button" id="searchBtn" class="btn btn-outline-success w-100">Search</button>
				</div>
				<div class="col-md-1">
					<button type="button" id="clearBtn" class="btn btn-outline-dark w-100">X</button>
				</div>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/chat/chat-room.js"></script>
</th:block>

</html>