<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    layout:decorate="~{layout/base_layout}">

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/js/chat/chat-message.js"></script>
</th:block>    

<div layout:fragment="main" class="mt-5 p-4">
	
	<div class="container">
        <div id="chatting-room" class="border border-dark rounded-2 w-50" style="margin: 0 auto;">
            <div class="p-2">

				<div id="conversation">
		            <div id="messages" class=" overflow-auto" style="height: 700px;">
		            </div>
	            </div>
	            <div class="input-group mt-1">
		            <form class="w-100">
		                <input type="text" id="message" class="form-control" placeholder="메세지를 입력하세요.">
		                <div class="input-group-append">
		                    <button class="btn btn-outline-secondary" type="button" id="btnSend">전송</button>
		                </div>
	                </form>
	            </div>
	            
	            <div class="mt-1">
	            	<a href="/chat/list" class="btn btn-outline-danger">Exit</a>
	            </div>
	        </div>
        </div>
        
        <input type="hidden" id="roomId" th:value="${roomId}" />
        <input type="hidden" id="nickname" th:value="${nickname}"/>
        
        
    </div>
</div>



</html>