<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin_base_layout}">

<div layout:fragment="main" class="mt-5 p-3">

	<hr />
	
	<div id="list" class="p-3">
		<div id="filter-list" class="row">
			<div class="col-3">
				<select class="form-select" id="type">
				  <option value="recent">최신순</option>
				  <option value="past">과거순</option>
				  <option value="name_asc">이름 오름차순</option>
				  <option value="name_desc">이름 내림차순</option>	  
				</select>
			</div>
			<div class="col-2">
				<div class="dropdown">
				  	<button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				    	Category Filters
				  	</button>
				  	<ul class="dropdown-menu w-100">
					    <li th:each="category : ${categories}" class="p-1 w-100">
						    <input class="form-check-input checkBtn" type="checkbox" th:value="${category.value}" 
						    	th:id="${category}" checked>
					  		<label class="form-check-label" th:for="${category.value}" th:text="${category.value}"></label>
					    </li>
				  	</ul>
				</div>
			</div>
			<div class="col-6">
				<input type="text" class="form-control" id="keyword" />
			</div>
			<div class="col-1">
				<button id="searchBtn" type="button" class="form-control btn btn-outline-dark">Search</button>
			</div>
		</div>
		<div class="d-none">
			<input type="hidden" id="userId" th:value="${userId}" />
		</div>
		<div class="py-3">
			<table class="table table-striped text-center align-middle">
				<thead>
					<tr>
						<th scope="col">아이디</th>
						<th scope="col">이미지</th>
						<th scope="col">카테고리</th>
						<th scope="col">랜드이름</th>
						<th scope="col">관리자</th>
						<th scope="col">생성일자</th>
						<th scope="col">승격/강등</th>
						<th scope="col">권한뺏기</th>
						<th scope="col">게시판 삭제</th>
					</tr>
				</thead>
				<tbody id="board-list">
					<tr th:each="board : ${boards}">
						<td th:text="${board.id}" class="boardId"></td>
						<td>
							<img th:src="${board.file.uploadPath}" alt="Not found" width="100px" height="auto" />
						</td>
						<td th:text="${board.categoryName}"></td>
						<td>
							<a th:href="@{'/admin/board/details/' + ${board.id}}" th:text="${board.boardName}" class="link-dark"></a>
						</td>
						<td th:text="${board.user.nickname}"></td>
						<td class="createdDate" th:text="${board.createdTime}"></td>
						<td>
							<button th:if="${board.boardGrade} eq 'Sub'" type="button" th:data-id="${board.id}" 
								class="btn btn-outline-success upgradeBtn">승격</button>
							<button th:if="${board.boardGrade} eq 'Main'" type="button" th:data-id="${board.id}" 
								class="btn btn-outline-danger relegateBtn">강등</button>
						</td>
						<td>
							<button type="button" th:data-user-id="${board.user.id}"  
								th:data-board-id="${board.id}" class="btn btn-outline-danger revokeBtn">권한 뺏기</button>
							
						</td>
						<td>
							<button sec:authorize="hasRole('ADMIN')" type="button" th:data-board-id="${board.id}" 
								class="btn btn-outline-primary deleteBtn">삭제</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="modal" id="userListModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">유저 리스트</h1>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <div class="card">
			  <div class="card-header">
			    유저 리스트
			  </div>
			  <div class="card-body">
			  	<div>
		  		<div id="search-bar" class="d-flex py-2 bg-success-subtle">
				  <div class="px-2 flex-grow-1">
				  	<input type="text" id="userKeyword" class="w-100 form-control" placeholder="유저 닉네임 입력" />
				  </div>
				  <div class="px-2"><button id="clearBtn" class="btn btn-outline-primary">X</button></div>
				  <div class="px-2"><button type="button" id="userSearchBtn" class="btn btn-outline-success">검색</button></div>
				</div>
				<div class="border border-dark">
					<ul id="user-list" class="list-group overflow-auto" style="height: 250px;">
					  	<th:block th:each="user : ${userList}">
					    	<li class="list-group-item">
					    		<div class="row">
					    			<div class="col-9">
					    				[[${user.nickname}]]
					    			</div>
					    			<div class="col-3">
					    				<button type="button" class="btn btn-outline-dark blockBtn w-100" th:data-id="${user.id}">권한 부여</button>
					    			</div>
					    		</div>
				    		</li>
					    </th:block>
					  </ul>
				</div>
				</div>
			  </div>
			  
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary btn-close" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/js/admin/approved-list.js"></script>
</th:block>

</html>