<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Forest</title>
<!-- 부트스트랩 -->
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous">
<link rel="stylesheet" href="/css/base_layout/main.css" />
<link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">
<!-- <link rel="stylesheet" th:href="@{/css/base_layout/darkmode/darkmode.css}" /> -->

</head>
<body>


    <div>
        <header>
            <div class="header">
                <div class="header_container">
                    <div class="header_item">
                        <div class="header_nav">
                            <!-- 로고 영역! -->
                            <div class="logo_search_container">
                                <h1 id="forest_logo">
                                    <a href="/"> <img
                                        src="/img/forest_logo.png"
                                        alt="포레스트 로고" width="250px"
                                        height="auto" />
                                    </a>
                                </h1>
                                <!--  // 로고 영역! -->

                                <!-- 전체 검색 -->
                                <div id="search_wrap"
                                    class="wrap_search">
                                    <!-- 랜드 통합검색 -->
                                    <form id="searchform"
                                        name="search_process"
                                        class="sch_smit" method="get"
                                        accept-charset="utf-8" action=""
                                        role="search"
                                        onSubmit="return globalSearch(this);">
                                        <fieldset>
                                            <div
                                                class="top_search clear">
                                                <div
                                                    class="inner_search">
                                                    <input
                                                        class="search_top_keyword"
                                                        type="text"
                                                        name="search"
                                                        id="search_keyword"
                                                        title="검색어 입력"
                                                        value=""
                                                        placeholder="랜드 & 통합검색"
                                                        accesskey="f"
                                                        autocomplete="off"
                                                        onfocus="show_search_keywords(this)">
                                                    <button
                                                        class="btn_top_search"
                                                        id="searchSubmit">
                                                        <span
                                                            class="blind">검색</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- // 랜드 통합검색  -->
                                </div>
                                <div class="wrap" th:fragment="darkmode">
                                    <div class="darkmode">
                                        <div class="inner">
                                            <input type="radio"
                                                name="toggle"
                                                id="toggle-radio-light"
                                                checked><label
                                                for="toggle-radio-light"
                                                class="tolight"><i
                                                class="fas fa-sun tolight"></i></label>
                                            <input type="radio"
                                                name="toggle"
                                                id="toggle-radio-dark"><label
                                                for="toggle-radio-dark"
                                                class="todark"><i
                                                class="fas fa-moon todark"></i></label>
                                            <div class="darkmode-bg"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<ul class="nav_ul">
								<li><a href="/board/mainLand">메인 랜드</a></li>
								<li><a href="/board/subLand">서브 랜드</a></li>
								<li><a href="/">가든</a></li>
								<li><a href="/post/reply">댓글</a></li>
								<li><a href="/post">포레스트 뉴스</a></li>
								<li><a href="/">이벤트</a></li>
								<li><a href="/">포레스트 뉴스</a></li>
								<li sec:authorize="isAnonymous()"><a href="/user/login">로그인</a></li>
								<li sec:authorize="isAnonymous()"><a href="/user/signup">회원가입</a></li>
								<li sec:authorize="isAuthenticated()"><a href="/board/list">내 게시판 목록</a></li>
								<li sec:authorize="isAuthenticated()"><a href="/user/logout">로그아웃</a></li>
                                                                <li sec:authorize="isAuthenticated()"><a href="/user/myinfopage"><span th:text="${#authentication.principal.nickname}"></span>></a></li>
							</ul>  

   


                        </div>
                    </div>
                </div>
            </div>


        </header>


        <!-- main 컨텐츠가 삽입될 위치 -->
        <th:block layout:fragment="main"></th:block>


    </div>
    <!-- 부트스트랩 -->
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- 자바스크립 파일 추가할 영역 -->
    <th:block layout:fragment="myscripts">

    </th:block>
</body>
</html>