<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">

<div layout:fragment="main" class="mt-5 p-3">
    <hr/>
	<h1>Board Create Page</h1>
	<form id="createForm" action="/board/create" method="post">
		<select class="form-select" aria-label="Default select example" id="category" name="category">
			<th:block th:each="category : ${categories}">
				<option th:value="${category}" th:text="${category}"></option>
			</th:block>
		</select>
		<input type="hidden" id="userId" name="userId" th:value="${userId}" />
		<input type="text" id="boardName" name="boardName" />
		<button type="submit" id="createBtn">Create</button>
	</form>
</div>

</html>