<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">

<div layout:fragment="main" class="mt-5 p-4">
	<hr/>
	
	<div>
		<button type="button" id="openTabBtn" class="btn btn-outline-success">랜드 전체 보기</button>
	</div>
	

	<div id="filter-list" style="display:none; margin-top: 15px; width: 50%;">
		<div style="height: 250px; border: 1px solid black; display: flex;">
			<div class="w-50">
				<div style="height: 50px;">
				
					<div class="d-flex">
					  	<div class="flex-grow-1">
					  		<input type="text" class="form-control" id="keyword" name="keyword" placeholder="랜드 검색" />
					  	</div>
					  	<div>
					  		<button id="searchBtn" type="button" class="form-control btn btn-outline-dark">Search</button>
				  		</div>
					</div>
	
				</div>
				<div id="categoryList" class="w-100 d-flex align-items-stretch" style="height: 200px;">
					<div class="w-100 py-2">
						<strong>카테고리 목록</strong>
						<ul class="list-group list-group-flush w-100">
							<th:block th:each="category : ${boardMap}">
								<li class="list-group-item">
									<a class="categoryBtn link-dark" th:text="${category.key.value}" th:data-name="${category.key.value}" th:data-id="${category.key}"></a>
								</li>
							</th:block>
						</ul>
					</div>
				</div>
			</div>
			<div class="w-50">
				<div style="height: 50px;">
					<div class="d-flex">
					  	<div class="flex-grow-1 p-2">
					  		<span id="resultMessage" class="p-3">검색어를 입력해주세요.</span>
					  	</div>
					  	<div>
					  		<button type="button" id="closeBtn" class="btn btn-outline-danger">Close</button>
				  		</div>
					</div>	
				</div>
				<div id="searchResult" style="height: 200px;">
					<div id="landList" class="overflow-y-scroll py-2">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="board-section" class="my-3">
		<div>
			<div class="card my-3" th:each="entry : ${boardMap}">
			  <div class="card-header" th:text="|${entry.key.value} (${entry.value.size})|"></div>
			  <ul class="list-group list-group-flush">
		  		<th:block th:each="board : ${entry.value}">
				    <li class="list-group-item">
				    	<a th:href="@{'/board/' + ${board.id}}" th:text="${board.boardName}" class="link-dark"></a>
				    </li>
			    </th:block>
			  </ul>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/js/board/main-board.js"></script>
</th:block>

</html>