<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">

<div layout:fragment="main" class="mt-5 p-4">
	<hr/>
	
	<div>
		<button type="button" id="openTabBtn" class="btn btn-outline-success">랜드 검색</button>
	</div>
	

	<div id="filter-list" style="display:none; margin-top: 15px; width: 50%;">
		<div style="height: 320px; border: 2px solid black; display: flex;">
			<div class="w-50">
				<div style="background-color: #64DD17;">
				
					<div class="d-flex p-2">
					  	<div class="flex-grow-1">
					  		<input type="text" class="form-control" id="keyword" name="keyword" placeholder="랜드 검색" />
					  	</div>
					  	<div class="ms-1">
					  		<button id="searchBtn" type="button" class="form-control btn btn-outline-dark" >Search</button>
				  		</div>
					</div>
	
				</div>
				<div id="categoryList" class="w-100 d-flex align-items-stretch">
					<div class="w-100 py-2">
						<th:block th:each="category : ${boardMap}">
							<div class="list-group-item p-2">
								<a class="categoryBtn link-dark link-offset-2 link-underline link-underline-opacity-0" th:text="${category.key.value}" 
									th:data-name="${category.key.value}" th:data-id="${category.key}"></a>
							</div>
						</th:block>
					</div>
				</div>
			</div>
			<div class="w-50" style="border-left: 1px solid black;">
				<div>
					<div class="d-flex p-2">
					  	<div class="flex-grow-1 p-2">
					  		<span id="resultMessage" class="p-3">검색어를 입력해주세요.</span>
					  	</div>
					  	<div>
					  		<button type="button" id="closeBtn" class="btn btn-outline-danger">Close</button>
				  		</div>
					</div>	
				</div>
				<div id="searchResult" class="p-2">
					<div id="landList" class="overflow-auto p-2" style="margin: 0 auto; max-height: 220px;">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="land-create" class="py-3">
		<button sec:authorize="isAnonymous()" id="createBtn" class="btn btn-outline-success" onclick="createLand();">랜드 생성</button>
		<a sec:authorize="isAuthenticated()" href="/board/create" class="btn btn-outline-success">랜드 생성</a>
	</div>
	
	<div class="mt-3" style="display: flex;">
		<div id="popularBoard" class="w-50" style="border: 2px solid black;">
			<div class="px-2 pt-2" style="border-bottom: 1px solid black;">
				<h6><b>인기 랜드 랭킹</b></h6>
			</div>
			<div id="rankingSection" style="display: flex;">
				<div id="top5" class="w-50">
					<th:block th:each="board: ${rankList.top5List}">
						<div class="p-2">
							<b>[[${board.boardRank}]].</b> <a th:data-id="${board.id}"  th:text="${board.boardName}"
							 	class="link-dark link-offset-2 link-underline link-underline-opacity-0 loadBoardBtn"></a>
						</div>
					</th:block>
				</div>
				<div id="top10" class="w-50">
					<th:block th:each="board: ${rankList.top10List}">
						<div class="p-2">
							<b>[[${board.boardRank}]].</b> <a th:data-id="${board.id}" th:text="${board.boardName}"
							 	class="link-dark link-offset-2 link-underline link-underline-opacity-0 loadBoardBtn"></a>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		
		<div id="recentBoard" class="w-50" style="border: 2px solid black;">
			<div class="px-2 pt-2" style="border-bottom: 1px solid black;">
				<h6><b>최근 신설된 랜드</b></h6>
			</div>
			<div id="rankingSection2" style="display: flex;">
				<div id="recent5" class="w-50">
					<th:block th:each="board: ${rankList.list1}">
						<div class="p-2">
							<a th:data-id="${board.id}"  th:text="${board.boardName}"
							 	class="link-dark link-offset-2 link-underline link-underline-opacity-0 loadBoardBtn"></a>
						</div>
					</th:block>
				</div>
				<div id="recent10" class="w-50">
					<th:block th:each="board: ${rankList.list2}">
						<div class="p-2">
							<a th:data-id="${board.id}" th:text="${board.boardName}"
							 	class="link-dark link-offset-2 link-underline link-underline-opacity-0 loadBoardBtn"></a>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	
	<input type="hidden" id="userId" name="userId" th:value="${userId}" />
	
	<div id="board-section" class="my-3">
		<div>
			<div class="card my-3" th:each="entry : ${boardMap}">
			  <div class="card-header" th:text="|${entry.key.value} (${entry.value.size})|"></div>
			  <ul class="list-group list-group-flush">
		  		<th:block th:each="board : ${entry.value}">
				    <li class="list-group-item">
				    	<!-- <a th:href="@{'/board/' + ${board.id}}" th:text="${board.boardName}" class="link-dark"></a> -->
				    	<a th:text="${board.boardName}" th:data-id="${board.id}" class="link-dark link-offset-2 link-underline link-underline-opacity-0 loadBoardBtn"></a>
				    </li>
			    </th:block>
			  </ul>
			</div>
		</div>
	</div>
</div>

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="/js/board/sub-board.js"></script>
	<script type="text/javascript">
		function createLand() {
			alert('로그인 후 이용 가능합니다.');
			window.location.href='/user/login';
		}
	</script>
</th:block>

</html>