<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    layout:decorate="~{layout/garden_base_layout}">

<div layout:fragment="main" class="mt-5 p-3">

            <table>
                <thead>
                    <tr>
                        <th>포스트</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>아이디</th>
                        <th>랜드이름</th>
                        <th>포스트 제목</th>
                        <th>시간</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="post : ${postlist}">
                        <!-- Update "posts" to "postlist" -->
                        <td th:text="${post.id}" class="postId"></td>
                        <td><a
                            th:href="@{'/post/details?boardId=' + ${post.board.id} + '&id=' + ${post.id}}"
                            th:text="${post.board.boardName}"
                            class="link-dark"></a></td>
                        <td th:text="${post.postTitle}"></td>
                        <td class="createdDate"
                            th:text="${post.createdTime}"></td>
                    </tr>

                </tbody>

            </table>
    </div>

</html>