<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
    <head>
		<link rel="stylesheet" th:href="@{/css/post/create.css}">
	</head>
    
    <main layout:fragment="main">
        <div class="my-2 card">
            <div class="card-header text-center">
                <h1>랜드 상세보기</h1>
            </div>
            <div class="card-body">
                <form>
                    <div>
                        <label class="form-label" for="id">번호</label>
                        <input class="form-control"
                            id="id" th:value="${post.id}" readonly />
                    </div>
                    <div>
                        <label class="form-label" for="title">제목</label>
                        <input class="form-control"
                            id="title" th:value="${post.postTitle}" readonly />
                    </div>
                    <div>
                        <label class="form-label" for="content">내용</label>
                        <textarea class="form-control"
                            id="content" th:text="${post.postContent}" readonly></textarea>
                    </div>
                    <div>
                        <label class="form-label" for="author">글쓴이</label>
                        <input class="form-control" 
                            id="author" th:value="${post.postNickname}" readonly />
                    </div>
                    <div>
                        <label class="form-label" for="createdTime">작성시간</label>
                        <input class="form-control" id="createdTime"
                            th:value="${ #temporals.format(post.createdTime, 'yyyy.MM.dd HH:mm:ss') }" 
                            readonly />
                    </div>
                    <div>
                        <label class="form-label" for="modifiedTime">수정시간</label>
                        <input class="form-control" id="modifiedTime"
                            th:value="${ #temporals.format(post.modifiedTime, 'yyyy.MM.dd HH:mm:ss') }"
                            readonly />
                    </div>
                </form>
                <!-- 로그인 사용자와 포스트 작성자가 같으면 -->
                <!-- <div th:if="${ #authentication.name} == ${ post.author }"> -->
                <!-- </div> -->
                <a class="btn btn-outline-success" th:href="@{ /post/deleteCheck?id={id} (id = ${post.id}) }">벌목하기</a>
                <a class="btn btn-outline-success" th:href="@{ /post/modifyCheck?id={id} (id = ${post.id}) }">가지치기</a>
                <a class="btn btn-outline-success" th:href="@{ /post/create }">나무심기</a>
                <a class="btn btn-outline-success" th:href="@{ /post }">전체글</a>
                <a class="btn btn-outline-success" th:href="@{ /post }">인기글</a>
                
                <button id="like-button" class="btn btn-outline-success" th:data-post-id="${post.id}">좋아요 <span id="like-count">0</span></button>
				<button id="dislike-button" class="btn btn-outline-success" th:data-post-id="${post.id}">싫어요 <span id="dislike-count">0</span></button>
                
                
            </div>
        </div>
        
    </main>
    
    <th:block layout:fragment="myscripts">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/post/likedislike.js"></script>
    </th:block>
    
</html>