<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
    <main layout:fragment="main">
        <div class="my-2 card">
            <div class="card-header text-center">
                <h1>뉴진스 랜드</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="my-2">
                        <label class="form-label" for="nickname">닉네임</label>
                        <input class="form-control" id="nickname"
                            type="text" name="postNickname" th:value="${post.postNickname}" readonly />
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="password">비밀번호</label>
                        <input class="form-control" id="password"
                            type="text" name="postPassword" th:value="${post.postPassword}" readonly />
                    </div>
                    <div class="my-2">
                        <label class="form-label" for="title">제목</label>
                        <input class="form-control" id="title"
                            type="text" name="postTitle" th:value="${post.postTitle}" required autofocus />
                    </div>
                    	<input type="hidden" name="id" id="id" th:value="${post.id}">
                    <div class="my-2">
                        <label class="form-label" for="content">내용</label>
                        <textarea class="form-control" id="content" name="postContent" th:text="${post.postContent}" required></textarea>
                    </div>               
                    <div>
                        <a class="nav-link form-control btn btn-outline-success" th:href="@{ /post/details?id={id} (id = ${post.id}) }">취소</a>
                        <input class="form-control btn btn-outline-success" type="submit" value="가지치기"/>
                    </div>
                </form>
            </div>
        </div>
    </main>
    
</html>