<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<head>
    <link rel="stylesheet" th:href="@{/css/post/practice.css}">
</head>
    
    <main layout:fragment="main">
    
    
<div class="wrap_inner ">
    
    <main id="container" class="listwrap clear">
    <!-- left_content -->
	<section class="left_content">
		
<!-- 갤리명 타이틀바 ~ 이용안내 -->
<header>
  <div class="page_head clear">
	<div class="fl clear">
      
      			
	  <h2>첼시 갤러리
	  	<a href="https://gall.dcinside.com/chel">
		  	<div class="pagehead_titicon mgall sp_img">
		  		<span class="blind">마이너</span>
	  		</div>
	  	</a>
	  </h2>
	  	   
	</div>
	</div>
  
  
  
  </main>
    
</html>