<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>아이디찾기 페이지 입니다.</h1>
    <form method="post" th:action="@{/user/checkLoginEmail}">
        <div>
            <div>
                <div>
                    <input id="email" class="email" type="text"
                        placeholder="이메일" oninput="checkLoginEmail();">
                    <button class="findid" type="submit">id 찾기</button>
                </div>
                <div>
                      <input id="loginId" class="loginId"/> 
                </div>
            </div>
        </div>
    </form>
    <script src="/js/user/user-create.js"></script>
</body>
</html>