@charset "UTF-8";

.container {
    width: 80%;
    margin: 0 auto;
}

.page_head {
    height: 37px;
    margin-bottom: 3px;
    padding-top: 4px;
    margin-left: 10px;
    margin-top: 4px;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

.fl {
    float: left;
}

.page_head h2 {
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: -1px;
    margin: 2px 8px 0 3px;
    max-width: 416px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #188038;
    float: left;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.page_head h2 a {
    color: #188038;
    text-decoration: none;
}

a {
    vertical-align: middle;
}

.gall_listwrap {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

table {
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

colgroup {
    display: table-column-group;
}

thead {
    display: table-header-group;
    border-color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    height: 37px;
    border-width: 2px 0 1px;
    border-style: solid;
    border-color: #188038;
    vertical-align: middle;
    text-align: center;
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr:first-child td {
    border-top: none;
}

.gall_list td {
    padding: 0px 4px;
}

td {
    border-top: 1px solid #eee;
    text-align: center;
    color: #333;
    display: table-cell;
    vertical-align: inherit;
}

.text-link {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

button {
    font-size:18px;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;
    border-radius: 0;
    vertical-align: middle;
    cursor: pointer;
}
