@charset "UTF-8";

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, embed, figure, figcaption, footer, header, nav, section, summary, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

.visit_bookmark + #container #write_wrap {
    border-width: 0 2px 2px;
    margin-top: 0;
}

#write_wrap {
    padding: 33px 68px 40px;
    margin-top: 15px;
    border: 2px solid #d5d5d5;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

.blind {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    margin: -1px;
    width: 0px;
    height: 0px;
    top: -9999px;
    font-size: 0;
}

.input_infotxt {
    float: left;
    width: 230px;
    margin: 10px 10px 0 0;
}

.input_box {
    position: relative;
}

.put_inquiry, .input_box label {
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    color: #999;
    font-size: 13px;
    font-weight: bold;
}

.txt_placeholder {
    position: absolute;
    left: 13px;
    top: 9px;
}

.put_inquiry {
    width: 204px;
    height: 33px;
    padding: 0 12px;
    line-height: 35px;
    border: 1px solid #cecdce;
    color: #333;
}

input, select, textarea, button {
    border-radius: 0;
    vertical-align: middle;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

.write_subject {
    position: relative;
    z-index: 1;
}

.write_subject {
    clear: both;
    display: inline-block;
    min-width: 715px;
    border: 1px solid #cecdce;
    padding-right: 11px;
    margin-top: 10px;
}

.write_subject > .tit {
    height: 100%;
}

.write_subject > .tit {
    display: block;
    float: left;
    width: 66px;
    height: 33px;
    background: #eee;
    vertical-align: top;
    line-height: 33px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 13px;
}

.write_subject .subject_list {
    margin-left: -15px;
}

.subject_list {
    float: left;
    margin: 5px 0 0 11px;
    max-width: 930px;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.write_subject .subject_list li:first-child {
    margin-left: 26px;
}

.write_subject .subject_list li {
    margin-bottom: 5px/*;height:18px;line-height:17px*/;
}

.subject_list li:first-child {
    margin-left: 0;
}

.write_subject .subject_list li {
    max-width: 105px;
    width: auto;
}

.subject_list .sel {
    background: #188038;
    border-radius: 50px;
    color: #fff;
    padding: 0 10px 0 9px;
    text-shadow: 0px -1px #188038;
    cursor: default;
}

.subject_list li {
    float: left;
    height: 23px;
    line-height: 22px;
    font-size: 13px;
    color: #666;
    font-weight: bold;
    margin-left: 26px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.subject_list .sel > em {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-position: -236px -321px;
    margin-right: 2px;
}

.sp_img {
    background-image: url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png);
    background-repeat: no-repeat;
}

.input_write_tit {
    float: left;
    width: 728px;
    margin: 10px 0 0 0PX;
}

.input_box {
    position: relative;
}

.input_write_tit .put_inquiry {
    width: 702px;
}

.write_infobox {
    position: relative;
    margin: 16px 0 14px;
    font-size: 12px;
    color: #666;
}

.write_infobox p {
    line-height: 20px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn_box.write {
    margin-top: 0px;
    position: relative;
}

.fr {
    float: right;
}

.btn_box.write .btn_grey:first-child, .btn_box.write .btn_blue:first-child {
    margin-left: 0;
}

.btn_grey {
    background: #666;
    border-color: #444;
    text-shadow: 0px -1px #474747;
    color: #fff;
}

.btn_grey, .btn_blue {
    width: 85px;
    height: 40px;
    padding-right: 2px;
    line-height: 36px;
    margin-left: 3px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}

.btn_box.write .btn_blue {
    margin-left: 5px;
    font-weight: bold;
}

.btn_blue {
    background: #188038;
    border-color: #188038;
    text-shadow: 0px -1px #188038;
    color: #fff;
}

.btn_box {
    display: flex; /* Flexbox를 활성화하여 가로로 정렬 */
}

.btn_box .nav-link,
.btn_box input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* 버튼 사이의 간격을 조절 */
}

.btn_box input[type="submit"]:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
}

.btn_box .nav-link:hover,
.btn_box input[type="submit"]:hover {
    color: #ffffff !important; /* 호버 시 글자색을 흰색으로 설정 */
}

.btn_box .nav-link,
.btn_box input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* 버튼 사이의 간격을 조절 */
    border: none; /* 테두리 제거 */
    border-radius: 0; /* 둥근 각 제거 */
}

.btn_box input[type="submit"]:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
}

.btn_box .nav-link:hover,
.btn_box input[type="submit"]:hover {
    color: #ffffff !important; /* 호버 시 글자색을 흰색으로 설정 */
}

.btn_box .nav-link,
.btn_box input[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* 버튼 사이의 간격을 조절 */
    border: 1px solid #ccc; 
    border-radius: 2px; /* 둥근 각 제거 */
}

.btn {
    font-weight: bold;
    color: #333;
}

