@charset "UTF-8";

.view_content_wrap {
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 13px;
    color: #333;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, embed, figure, figcaption, footer, header, nav, section, summary, audio, video, button {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-style: normal;
}

.gallview_head {
    margin: 16px 0 29px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.gallview_head .title {
    padding: 0 2px;
    margin-bottom: 7px;
    font-size: 14px;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.gallview_head .gall_writer {
    padding: 0 2px;
}

.gall_writer {
    position: relative;
    font-size: 13px;
    cursor: pointer;
}

.fl {
    float: left;
}

.ip {
    font-family: tahoma,sans-serif;
    font-size: 11px;
    color: #999;
}

.gallview_head .gall_date, .gallview_head .gall_count, .gallview_head .gall_reply_num, .gallview_head .gall_comment {
    cursor: default;
}

.gallview_head .gall_writer > .fr {
    padding-right: 7px;
}

.fr {
    float: right;
}

.gallview_head .gall_writer .fr > span::before, .album_head .gall_writer .fr > span::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ccc;
    margin: 0 10px 0 6px;
    vertical-align: -1px;
}

.gallview_head .gall_comment a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    background: #eee;
    border: 1px #ccc solid;
    border-radius: 50px;
}

a {
    color: #333;
    text-decoration: none;
}

.gallview_contents {
    line-height: 22px;
}

.gallview_contents > .inner {
    margin-bottom: 50px;
}

.writing_view_box {
    position: relative !important;
    overflow: hidden;
}

.writing_view_box {
    float: left;
    max-width: 900px;
    word-break: break-all;
    line-height: 1.5;
}

#zzbang_div {
    padding-bottom: 0;
}

iframe {
    width: 300px;
    height: 250px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

element.style {
    width: 550px;
    height: 350px;
}

.writing_view_box img {
    max-width: 100%;
    vertical-align: top;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

pre {
    display: block;
    font-family: monospace;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    margin: 1em 0px;
}

.write_div div {
    padding-bottom: 5px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.writing_banbox {
    float: right;
    max-width: 160px;
}

.btn_recommend_box.morebox {
    min-width: 288px;
    width: auto;
    display: table;
}

.btn_recommend_box {
    width: 288px;
    height: auto;
    margin: 0 auto 36px;
    padding-top: 19px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    background: #fff;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;
    clear: both;
}

.blind {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    margin: -1px;
    width: 0px;
    height: 0px;
    top: -9999px;
    font-size: 0;
}

.btn_recommend_box.morebox .inner_box {
    text-align: center;
    font-size: 0;
}

.btn_recommend_box.morebox .inner {
    display: inline-block;
    margin-bottom: 2px;
}

.btn_recommend_box .inner {
    overflow: hidden;
    width: 139px;
    margin-bottom: 13px;
    padding: 0;
}

.up_num_box {
    float: left;
    width: 67px;
    padding: 10px 0 0 11px;
}

.up_num_box, .down_num_box {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.font_red {
    color: #d31900;
}

.sup_num {
    line-height: 12px;
}

.writer_nikcon img {
    vertical-align: middle;
}

.smallnum {
    font-size: 11px;
    font-weight: normal;
}

.font_blue {
    color: #29367c;
}

.btn_recom_up {
    float: right;
    width: 56px;
    outline: none;
}

.icon_recom_up {
    background-position: 0 -315px;
}

.icon_recom_up, .icon_recom_down {
    display: inline-block;
    width: 56px;
    height: 56px;
}

.sp_img {
    background-image: url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png);
    background-repeat: no-repeat;
}

.btn_recommend_box.morebox .inner + .inner {
    margin-left: 10px;
}

.btn_recommend_box.morebox .inner {
    display: inline-block;
    margin-bottom: 2px;
}

.btn_recommend_box .inner {
    overflow: hidden;
    width: 139px;
    margin-bottom: 13px;
    padding: 0;
}

.btn_recom_down {
    float: left;
    width: 56px;
    outline: none;
}

.icon_recom_down {
    background-position: 0 -377px;
}

.icon_recom_up, .icon_recom_down {
    display: inline-block;
    width: 56px;
    height: 56px;
}

.down_num_box {
    float: right;
    width: 64px;
    padding: 17px 12px 0 0;
}

.btn_recommend_box.morebox .recom_bottom_box {
    height: 36px;
}

.recom_bottom_box {
    clear: both;
    position: relative;
    height: 37px;
    border-top: 1px solid #c4c4c4;
}

.btn_recommend_box.morebox .btn_snsmore, .btn_recommend_box.morebox .btn_report, .btn_recommend_box.morebox .btn_nhitgall, .btn_recommend_box.morebox .btn_silbechu {
    position: relative;
    width: 85px;
    height: 36px;
    margin-left: 0;
    box-sizing: content-box;
}

.btn_report {
    border-right: 0;
    text-align: center;
}

button {
    border-radius: 0;
    vertical-align: middle;
}

.btn_nhitgall ~ .btn_snsmore .icon_snsmore, .btn_nhitgall ~ .btn_report .icon_report {
    vertical-align: -5px;
}

.icon_report {
    width: 18px;
    height: 20px;
    background-position: -74px -241px;
    margin-right: 6px;
    vertical-align: -4px;
}

.icon_hitgall, .icon_snsmore, .icon_report, .icon_silbechu {
    display: inline-block;
}

.view_content_wrap {
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 13px;
    color: #333;
}

.recom_bottom_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_box {
    display: flex;
    justify-content: space-between; /* 자식 요소 사이의 간격을 동일하게 조정 */
}

.inner {
    display: flex;
    align-items: center; /* 수직 정렬 */
    flex-direction: column; /* 수직 방향으로 정렬 */
}



/* 댓글  */

.view_comment {
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;
    font-size: 13px;
    color: #333;
}
