<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
   <head>
      <meta charset="UTF-8">
      <title>Insert title here</title>
   </head>
   
   <div layout:fragment="main">
   <div class="mt-5 py-5">
      <h1>Index page</h1>
      <h2>안녕하세요</h2>
      <a href="/post/create">post create page</a>
         <th:block sec:authorize="isAuthenticated()">
             <li class="nav-item">
                  <!-- 로그인한 username 표시 -->
                 <span sec:authentication="name"></span>
                 <a class="nav-link" th:href="@{/user/logout}">로그아웃</a>
             </li>
         </th:block>
       <th:block sec:authorize="isAnonymous()">
         <li class="nav-item">
            <a class="nav-link" th:href="@{/user/login}">로그인</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" th:href="@{ /user/signup}">회원가입</a>
         </li>
       </th:block>
   </div>
   </div>
   
</html>